<p id="notice"><%= notice %></p>

<h1 class="title">
  <%= @post.title %>
</h1>

<p class="author">
  <%= "#{@post.user.first_name} #{@post.user.last_name}" %>
</p>

<p>
  <strong>Date:</strong>
  <%= returnDate(@post) %>
</p>

<p class="text">
  <%= h(@post.content).gsub(/\n/, '<br/>').html_safe %>
</p>

<br/><br/>

<p>
  <strong>Category:</strong>
  <%= link_to @post.category.name, category_posts_path(@post.category.id) %>
</p>

<p>
  <strong>Tags:</strong>
  <% @post.tags[0..-2].each do |tag| %>
    <%= link_to tag.name, tag_posts_path(tag.id) %>,
  <% end %>
  <% last_tag = @post.tags.last %>
  <%= link_to last_tag.name, tag_posts_path(last_tag.id) %>


  <% if false %>
  <%=
    string = ""
    if @post.tags.length > 0
      string += @post.tags.first.name
      @post.tags[1..].each do |tag|
        string += ", #{tag.name}"
      end
    else
      string = "None"
    end
    string
  %>
  <% end %>
</p>

<br/><br/>

<p>
  <strong>Comments:</strong>
  <%=
    string = ""
    if @post.comments.length > 0
      @post.comments.each do |comment|
        string += "<br/> #{comment.user.first_name} #{comment.user.last_name}: #{comment.content}<br/>"
      end
      string = string.html_safe
    else
      string = "None"
    end
  %>
</p>


<br/>

<h2>New Comment</h2>

<%= form_with(model: @comment, local: true) do |form| %>

  <div class="field">
    <%= form.label :user, 'Author' %>
    <%= form.select :user_id, @users %>
  </div>

  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <%= form.hidden_field :post_id, value: @post.id %>

  <div class="actions">
    <%= form.submit "Comment" %>
  </div>

<% end %>

<%= link_to 'Edit', edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>
