<p id="notice"><%= notice %></p>

<h1 class="title">
  <%= @post.title %>
</h1>

<p class="author">
  <%= "#{@post.user.first_name} #{@post.user.last_name}" %>
</p>

<p class="text">
  <%= h(@post.content).gsub(/\n/, '<br/>').html_safe %>
</p>

<% if false %>
<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>
<% end %>

<p>
  <strong>Category:</strong>
  <%= @post.category.name %>
</p>

<p>
  <strong>Tags:</strong>
  <%=
    string = ""
    if @post.tags.length > 0
      string += @post.tags.first.name
      @post.tags[1..].each do |tag|
        string += ", #{tag.name}"
      end
    else
      string = "None"
    end
    string
  %>
</p>

<p>
  <strong>Comments:</strong>
  <%=
    string = ""
    if @post.comments.length > 0
      @post.comments.each do |comment|
        string += "<br/><br/> #{comment.user.first_name} #{comment.user.last_name}: #{comment.content}"
      end
      string = string.html_safe
    else
      string = "None"
    end
  %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
