<!DOCTYPE html>
<html>
  <head>
    <title>Tang Dynasty Blog</title>
    <link rel="icon" type="image/png" href="/assets/favicon.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="<%= action_name%>"> <!-- controller_name -->
    <div class="blur">
      <div class="main-window">
        <%= render 'layouts/header' %>
        <div class="content">
          <%= yield %>
        </div>
        <%= render 'layouts/footer' %>
      </div>
    </div>
  </body>
</html>
